configuration {
	sort: true;
	disable-history: true;
	modes: "run,window";
	font: "RobotoMono 12";
	kb-row-up: "Up,Super+k,Shift+Tab,Shift+ISO_Left_Tab";
	kb-row-down: "Down,Super+j";
	kb-accept-entry: "Return,KP_Enter";
	kb-accept-alt: "Control+Return,Control+KP_Enter";
	kb-accept-custom: "Shift+Return,Shift+KP_Enter";
	kb-accept-custom-alt: "Control+Shift+Return,Control+Shift+KP_Enter";
	terminal: "alacritty";
	kb-mode-next: "Shift+Right,Control+Tab,Super+l";
	kb-mode-previous: "Shift+Left,Control+Shift+Tab,Super+h";
	kb-remove-char-back: "BackSpace";
}
* {
    red:                         #ff0000;
    darkred:                     #880000;
    white: 			 #ffffff;
    gray:                  	 #999999;
    darkgray:                  	 #121212;
    darkergray:                  #666666;
    border-thickness:            3px;
    txtcolor: 			 var(white);
    selected-active-background:  var(gray);
    separatorcolor:              var(gray);
    alternate-urgent-background: var(darkgray);
    background-color:            transparent;
    border-color:                var(gray);
    normal-background:           var(darkgray);
    selected-urgent-background:  var(red);
    alternate-active-background: var(darkergray);
    urgent-background:           var(darkred);
    active-background:           var(darkgray);
    selected-normal-background:  var(gray);
    alternate-normal-background: var(darkgray);
}
element {
    padding: 0;
    spacing: 0;
    border:  0;
}
element normal.normal {
    background-color: var(normal-background);
    text-color:       var(txtcolor);
}
element normal.urgent {
    background-color: var(urgent-background);
    text-color:       var(txtcolor);
}
element normal.active {
    background-color: var(active-background);
    text-color:       var(txtcolor);
}
element selected.normal {
    background-color: var(selected-normal-background);
    text-color:       var(txtcolor);
}
element selected.urgent {
    background-color: var(selected-urgent-background);
    text-color:       var(txtcolor);
}
element selected.active {
    background-color: var(selected-active-background);
    text-color:       var(txtcolor);
}
element alternate.normal {
    background-color: var(alternate-normal-background);
    text-color:       var(txtcolor);
}
element alternate.urgent {
    background-color: var(alternate-urgent-background);
    text-color:       var(txtcolor);
}
element alternate.active {
    background-color: var(alternate-active-background);
    text-color:       var(txtcolor);
}
element-text {
    background-color: transparent;
    highlight:        none;
    text-color:       inherit;
}
element-icon {
    background-color: transparent;
    size:             1.0000em ;
    text-color:       inherit;
}
window {
    padding:          0;
    background-color: var(normal-background);
    border:           var(border-thickness);
}
mainbox {
    padding: 0;
    border:  0;
}
message {
    padding:      0;
    border-color: var(separatorcolor);
    border:       0;
}
textbox {
    text-color: var(txtcolor);
}
listview {
    scrollbar:    false;
    border: 0;
}
sidebar {
    border-color: var(separatorcolor);
    border:       0;
}
button {
    spacing:    0;
    text-color: var(txtcolor);
}
button selected {
    background-color: var(selected-normal-background);
    text-color:       var(txtcolor);
}
num-filtered-rows {
    expand:     false;
    text-color: var(txtcolor);
}
num-rows {
    expand:     false;
    text-color: var(txtcolor);
}
textbox-num-sep {
    expand:     false;
    str:        "/";
    text-color: var(txtcolor);
}
inputbar {
    padding:    0;
    spacing:    0;
    text-color: var(txtcolor);
    children:   [ "prompt","textbox-prompt-colon","entry","num-filtered-rows","textbox-num-sep","num-rows","case-indicator" ];
}
case-indicator {
    spacing:    0;
    text-color: var(txtcolor);
}
entry {
    text-color:        var(txtcolor);
    spacing:           0;
    placeholder-color: var(txtcolor);
    placeholder:       "";
}
prompt {
    spacing:    0;
    text-color: var(txtcolor);
}
textbox-prompt-colon {
    margin:     0;
    expand:     false;
    str:        ": ";
    text-color: inherit;
}
